@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap");
html {
  font-size: 62.5%; }

:root {
  --orang:#F52D1A;
  --back: #030303;
  --all:rgba(128, 128, 128, 0.541); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Akshar', sans-serif; }

.containerP {
  margin: 0 auto;
  width: 100%; }

.header {
  width: 100%;
  height: 100vh; }

.header_navbar {
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 0.3rem gray;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  font-size: 2rem;
  align-items: center; }
  .header_navbar .nav_items {
    display: flex;
    justify-content: space-around;
    color: var(--back);
    text-align: center;
    gap: 3rem;
    margin: 0; }
    .header_navbar .nav_items i {
      font-size: 1.8rem; }
    .header_navbar .nav_items .nav_item {
      display: flex;
      justify-content: center;
      align-items: center; }
    .header_navbar .nav_items .nav_item_sign {
      background-color: var(--orang);
      color: white;
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem; }

.basic_section {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  align-items: flex-end;
  height: 80%;
  font-size: 2rem; }
  .basic_section .basic_title .home_title {
    font-size: 6rem; }
  .basic_section .basic_title .home_btn {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0; }
    .basic_section .basic_title .home_btn div {
      margin: 1rem 0;
      width: 12rem;
      height: 4rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .basic_section .basic_title .home_btn .home_btn_one {
      background-color: var(--orang);
      color: white; }
  .basic_section .basic_title .home_social {
    display: flex;
    justify-content: start;
    gap: 1rem;
    padding: 1rem; }
    .basic_section .basic_title .home_social .home_soc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: rgba(128, 128, 128, 0.356); }
  .basic_section .basic_right {
    padding: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 40rem; }
    .basic_section .basic_right .home_play {
      padding: 2rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem;
      font-size: 3.5rem;
      color: var(--orang); }

.about {
  width: 100%;
  height: 110vh;
  border: 2px solid rebeccapurple;
  padding: 4rem; }
  .about .about_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid red;
    font-size: 1.8rem;
    margin: 1rem 0; }
    .about .about_header .about_search {
      border: 1px solid var(--all);
      padding: 0.5rem;
      width: 25rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .about .about_header .about_search input {
        outline: none;
        border: none; }
      .about .about_header .about_search i {
        color: var(--all); }
  .about .about_items {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    background-color: var(--all); }
